.container {
  display: flex;
}

.formContainer {
  display: flex;
  flex: 1;
}

.input {
  flex: 1;
  font-size: 20px;
  padding: 12px;
  border: 1px solid #c0c0c0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.enter {
  font-size: 18px;
  padding: 8px 16px;
  background-color: white;
  border: 1px solid #c0c0c0;
  border-left: 0;
  font-weight: bold;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
