.container {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 16px 0;
  padding: 8px;
}

.container:hover {
  background-color: #f5f5f5;
  transition: background-color 0s;
}

.container:hover .removeIcon {
  visibility: visible;
}

.checkIcon {
  font-size: 24px;
  margin-right: 16px;
  cursor: pointer;
}

.checkedCircleIcon {
  color: #32cd32;
}

.unCheckedCircleIcon {
  color: #c0c0c0;
}

.removeIcon {
  font-size: 28px;
  margin-left: auto;
  color: red;
  cursor: pointer;
  visibility: hidden;
}

.strikethrough {
  text-decoration: line-through;
  color: #c0c0c0;
}
